/* Reset some default styling */
body, ul {
  margin: 0;
  padding: 0;
}

/* Navbar styling */
.navbar {
  background-color: transparent;
  overflow: hidden;
  text-align: right;
}

.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  display: inline-block;
}

.nav-item a {
  display: block;
  color: black; /* Change font color to black */
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Dropdown styling */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.9);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  right: 0;
}

.dropdown-content a {
  color: black; /* Change font color to black */
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Show dropdown on hover */
.nav-item:hover .dropdown-content {
  display: block;
}
